MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin12345

MINIO_AUDIT_KAFKA_SASL_USERNAME=admin
MINIO_AUDIT_KAFKA_SASL_PASSWORD=admin-secret

HIVE_POSTGRES_PASSWORD=hive123
HIVE_POSTGRES_USER=hive
HIVE_POSTGRES_DB=metastore_db

AIRFLOW_MINIO_PASSWORD=airflow123
LOKI_MINIO_PASSWORD=loki12345
TRINO_MINIO_PASSWORD=trino12345

TRINO_ENVIRONMENT=production
